---
title: Release Notes for New Relic Service Broker for PCF
owner: Partners
---


These are release notes for New Relic Service Broker for PCF.

##<a id="ver"></a> v1.11.4

**Release Date:** October 16, 2017

Features included in this release:

* Bumped up memory quota for service broker from 512&nbsp;MB to 1024&nbsp;MB due to new Java requirements
* Bumped memory quota range from 512–1024 to 1024–2048


##<a id="ver"></a> v1.11.3

**Release Date:** September 12, 2017

Features included in this release:

* Added upgrade path from Ops Manager v1.9.0 and later to v1.11.x


##<a id="ver"></a> v1.11.2

**Release Date:** August 29, 2017

Features included in this release:

* Removed the minor version number from stemcell criteria to allow users to apply stemcell security patches
* Fixed the version discrepancy

Fixed issues in this release:

* Update stemcell to patch Ubuntu Linux kernel security vulnerability (USN-3385-2)
* Fixed the version discrepancy

##<a id="ver"></a> v1.11.1

**Release Date:** August 17, 2017

Features included in this release:

* Removed the minor version number from stemcell criteria to allow users to apply stemcell security patches

Fixed issues in this release:

* Update stemcell to patch Ubuntu Linux kernel security vulnerability (USN-3385-2)

Known issues in this release:

* File versioning Discrepency

##<a id="ver"></a> v1.11.0

**Release Date:** August 1, 2017

Features included in this release:

* This release of New Relic tile includes support for Ops Manager v1.11.x.

Known issues in this release:

* Ubuntu Linux kernel security vulnerability (USN-3385-2)

##<a id="ver"></a> v1.9.1

**Release Date:** May 10, 2017

Features included in this release:

* This release fixes a security vulnerability that left access to some important platform components open for all

Fixed issues in this release:

* CVE-2017-4975 fix

##<a id="ver"></a> v1.8.1

**Release Date:** May 10, 2017

Features included in this release:

* Supports PCF v1.8 
* Fixes a security vulnerability that left access to some important platform components open for all

Fixed issues in this release:

* CVE-2017-4975 fix

##<a id="ver"></a> v1.7.1

**Release Date:** May 10, 2017

Features included in this release:

* Supports PCF v1.6 and v1.7
* This release fixes a security vulnerability that left access to some important platform components open for all

Fixed issues in this release:

* CVE-2017-4975 fix

##<a id="ver"></a> v1.9.0

**Release Date:** March 3, 2017

Features included in this release:

* This version of New Relic tile supports PCF v1.8 and v1.9

Known issues in this release:

* CVE-2017-4975 

##<a id="ver"></a> v1.1.0

**Release Date:** September 30, 2016

Features included in this release:

* This version of New Relic tile support Ops Manager v1.7 and v1.8.

##<a id="ver"></a> v1.0

**Release Date:** December 16, 2015

Features included in this release:

* This version of New Relic tile support Ops Manager v1.7 and v1.8.











