---
title: Release Notes for New Relic Service Broker for VMware Tanzu
owner: Partners
---

These are release notes for New Relic Service Broker for VMware Tanzu.



## <a id="v1.12.28"></a> v1.12.28

**Release Date:** March 12, 2021

Features included in this release:

* Added support and tested on VMware Tanzu v2.11


## <a id="v1.12.27"></a> v1.12.27

**Release Date:** August 20, 2020

Features included in this release:

* Added constraint for license key entry - not allowing spaces and special characters
* Tested on VMware Tanzu v2.8 and v2.9


## <a id="v1.12.26"></a> v1.12.26

**Release Date:** May 12, 2020

Features included in this release:

* Upgraded to Tile metadata version 2.0
* Tested on VMware Tanzu v2.8 and v2.9


## <a id="v1.12.25"></a> v1.12.25

**Release Date:** November 26, 2019

Features included in this release:

* Fixed data entry in tile configuration for VMware Tanzu v2.7
* Tested on VMware Tanzu v2.7


## <a id="v1.12.24"></a> v1.12.24

**Release Date:** June 21, 2019

Features included in this release:

* Tested on VMware Tanzu v2.5 and v2.6


## <a id="v1.12.23"></a> v1.12.23

**Release Date:** March 8, 2019

Features included in this release:

* Support for "python3" for stemcells that do not have other python versions
* Tested on VMware Tanzu v2.4.x


## <a id="v1.12.20"></a> v1.12.20

**Release Date:** January 22, 2019

Features included in this release:

* Check for available version of "python" on the stemcell
* Tested on VMware Tanzu v2.3.x and VMware Tanzu v2.4.x


## <a id="v1.12.19"></a> v1.12.19

**Release Date:** January 14, 2019

Features included in this release:

* Added property to each plan so users could specify a list of orgs to enable service access.
* Added New Relic RPM account id and Insights insert key for support of firehose nozzle to route application events to corresponding New Relic account to where the application reports metrics.
* Bumped up stemcell to ubuntu-xenial 170.
* Tested on VMware Tanzu v2.3.x and VMware Tanzu v2.4.x


## <a id="v1.12.18"></a> v1.12.18

**Release Date:** August 10, 2018

Features included in this release:

* Added logic to allow users to change the license key for existing plans that were created using Service Broker v1.12.12 or older.
* Tested on VMware Tanzu v2.2.x and VMware Tanzu v2.3.x


## <a id="v1.12.9"></a> v1.12.9

**Release Date:** February 21, 2018

Features included in this release:

* Adds support for VMware Tanzu v2.0
* Tested on VMware Tanzu v2.1


## <a id="v1.12.6"></a> v1.12.6

**Release Date:** November 20, 2017

Features included in this release:

* Fixes error: not able to delete the service broker due to service instances being associated with it
* Fixes issue: not transferring service instances from the old tile to the new one
* Fixes error in Apps Manager when trying to create a service instance (tile v1.11.4 on VMware Tanzu v1.12)
* Fixes error when trying to upload service broker v1.12.5 to Ops Manager
* Enables global access so all orgs/spaces have access to the tile
* Enables support for multi-subnet networks


## <a id="v1.12.3"></a> v1.12.3

**Release Date:** November 10, 2017

Features included in this release:

* Adds migration logic from all versions starting from v1.9 to v1.12


## <a id="v1.12.0"></a> v1.12.0

**Release Date:** October 30, 2017

Features included in this release:

* Adds support for Ops Manager v1.12


## <a id="v1.11.4"></a> v1.11.4

**Release Date:** October 16, 2017

Features included in this release:

* Bumps up memory quota for service broker from 512&nbsp;MB to 1024&nbsp;MB due to new Java requirements
* Bumps memory quota range from 512–1024 to 1024–2048


## <a id="v1.11.3"></a> v1.11.3

**Release Date:** September 12, 2017

Features included in this release:

* Adds upgrade path from Ops Manager v1.9 and later to v1.11


## <a id="v1.11.2"></a> v1.11.2

**Release Date:** August 29, 2017

Features included in this release:

* Removes minor version number from stemcell criteria to allow users to apply stemcell security patches
* Fixes version discrepancy

Fixed issues in this release:

* Updates stemcell to patch Ubuntu Linux kernel security vulnerability (USN-3385-2)
* Fixes version discrepancy


## <a id="v1.11.1"></a> v1.11.1

**Release Date:** August 17, 2017

Features included in this release:

* Removes minor version number from stemcell criteria to allow users to apply stemcell security patches

Fixed issues in this release:

* Updates stemcell to patch Ubuntu Linux kernel security vulnerability (USN-3385-2)

Known issues in this release:

* File versioning discrepency


## <a id="v1.11.0"></a> v1.11.0

**Release Date:** August 1, 2017

Features included in this release:

* Includes support for Ops Manager v1.11

Known issues in this release:

* Ubuntu Linux kernel security vulnerability (USN-3385-2)


## <a id="v1.9.1"></a> v1.9.1

**Release Date:** May 10, 2017

Features included in this release:

* Fixes a security vulnerability that left access to some important platform components open for all

Fixed issues in this release:

* CVE-2017-4975 fix


## <a id="v1.8.1"></a> v1.8.1

**Release Date:** May 10, 2017

Features included in this release:

* Supports VMware Tanzu v1.8 
* Fixes a security vulnerability that left access to some important platform components open for all

Fixed issues in this release:

* CVE-2017-4975 fix


## <a id="v1.7.1"></a> v1.7.1

**Release Date:** May 10, 2017

Features included in this release:

* Supports VMware Tanzu v1.6 and v1.7
* Fixes a security vulnerability that left access to some important platform components open for all

Fixed issues in this release:

* CVE-2017-4975 fix


## <a id="v1.9.0"></a> v1.9.0

**Release Date:** March 3, 2017

Features included in this release:

* This version of New Relic tile supports VMware Tanzu v1.8 and v1.9

Known issues in this release:

* CVE-2017-4975 


## <a id="v1.1.0"></a> v1.1.0

**Release Date:** September 30, 2016

Features included in this release:

* This version of New Relic tile support Ops Manager v1.7 and v1.8.


## <a id="v1.0"></a> v1.0

**Release Date:** December 16, 2015

Features included in this release:

* This version of New Relic tile support Ops Manager v1.7 and v1.8.
